
@{
    ViewBag.Title = "conocenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2>Conocenos</h2>
<br /><br />
<table width="100%">
    <tr>
        <td width="50%">
            <p>Ernesto Jimenez - Programador</p>
            <img src="~/Content/Plantilla/img/netoman.jpg" width="200px" class="img-circle">
        </tdwidth="100%">
        <td width="50%">
            <p>Carmen Esqueda - Diseño</p>
            <img src="~/Content/Plantilla/img/carmen.jpg" width="200px" class="img-circle">
        </td>
    </tr>
    <tr></tr>
    <tr>
       <td width="25%">
           <h4>Mision</h4>
            <p>  Ayudar a las empresas con problemas usando como base la programación y así crear una aplicación la cual sea de ayuda.</p>
        </td>
        <td width="25%">
            <h4>Vision</h4>
            <p>Lograr que nuestro producto sea reconocido y se expanda a nivel internacional</p>
        </td>

     </tr>

</table>




