
@{
    ViewBag.Title = "contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Contacto</h2>
<br />

<table width="100%">
    <td width="50%">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
            <label>Asunto</label>
            <input type="text" class="form-control" placeholder="Asunto">
        </div>

        <div class="form-group">
            <label>Mensaje</label>
            <textarea class="form-control" rows="4">Mensaje</textarea>
        </div>

        <div class="form-group">
            <input class="btn btn-default" type="submit" value="Submit">
        </div>
    </td>
    <td width="50%">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6727.717221155542!2d-116.98710000000001!3d32.529923000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x12c528793fc3f572!2sINSTITUTO+TECNOLOGICO+DE+TIJUANA!5e0!3m2!1ses!2smx!4v1481451712536" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
     </td>
</table>
