
@{
    ViewBag.Title = "dashboard";
}

<h2>dashboard</h2>
<div class="container">
    <table width="90%">
        <td width="30%">
            <button class="Botones"> @Html.ActionLink("Registrarte", "Registro", "Registro")</button><br />
            <button class="Botones"> @Html.ActionLink("Registrarte", "Registro", "Registro")</button><br />
        </td>
        <td width="60%">

        </td>
    </table>

</div

