@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single">
    <div class="bg-empresarias-1 imagen-g texto-imagen">
        <p>¿Eres un profesionista y buscas trabajo?<br>- ¡Aquí encontrarás!</p>
        @*<div class="Botones">*@
            <button   class="Botones"> @Html.ActionLink("Registrarte", "Registro", "Registro")</button>
            
        @*</div>*@
        <p>¿Eres un empresario y necesitas quien te ayude con tu proyecto?<br>- ¡Llegaste al lugar indicado!</p>
    </div>
</div>